doctype html
html(lang='es-ES')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Fibratízate | ETB
    meta(name='generator', content='CD 4.9.8')
    meta(name='description', content='ETB')
    link(rel='pingback', href='http://planesetb.com/xmlrpc.php')
    // styles
    link(rel='stylesheet' href='/stylesheets/planesetb.css', type='text/css')
    link(rel='dns-prefetch', href='//s.w.org')
    script(type='text/javascript').
      window._wpemojiSettings = {"baseUrl":"https:\\/\/s.w.org\/images\/core\/emoji\/11\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/11\/svg\/","svgExt":".svg","source":{"concatemoji":"http:\/\/planesetb.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.9.8"}};

     !function(a,b,c){function d(a,b){var c=String.fromCharCode;l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,a),0,0);var d=k.toDataURL();l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,b),0,0);var e=k.toDataURL();return d===e}function e(a){var b;if(!l||!l.fillText)return!1;switch(l.textBaseline="top",l.font="600 32px Arial",a){case"flag":return!(b=d([55356,56826,55356,56819],[55356,56826,8203,55356,56819]))&&(b=d([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]),!b);case"emoji":return b=d([55358,56760,9792,65039],[55358,56760,8203,9792,65039]),!b}return!1}function f(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var g,h,i,j,k=b.createElement("canvas"),l=k.getContext&&k.getContext("2d");for(j=Array("flag","emoji"),c.supports={everything:!0,everythingExceptFlag:!0},i=0;i<j.length;i++)c.supports[j[i]]=e(j[i]),c.supports.everything=c.supports.everything&&c.supports[j[i]],"flag"!==j[i]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[j[i]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(h=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",h,!1),a.addEventListener("load",h,!1)):(a.attachEvent("onload",h),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),g=c.source||{},g.concatemoji?f(g.concatemoji):g.wpemoji&&g.twemoji&&(f(g.twemoji),f(g.wpemoji)))}(window,document,window._wpemojiSettings);
    style(type='text/css').
      img.wp-smiley,
      img.emoji {
      display: inline !important;
      border: none !important;
      box-shadow: none !important;
      height: 1em !important;
      width: 1em !important;
      margin: 0 .07em !important;
      vertical-align: -0.1em !important;
      background: none !important;
      padding: 0 !important;
      }
    link#main_style-css(rel='stylesheet' href='/stylesheets/planesetb.css', type='text/css', media='all')
    link#contact-form-7-css(rel='stylesheet' href='/stylesheets/planesetb.css', type='text/css', media='all')
    script(type='text/javascript', src='javascripts/jquery-214.js')
    script(src="/javascripts/etb.js")
    script(type='text/javascript', src='javascripts/jquery-214.js')
    link(rel='https://api.w.org/', href='http://planesetb.com/wp-json/')
    link(rel='EditURI', type='application/rsd+xml', title='RSD', href='http://planesetb.com/xmlrpc.php?rsd')
    link(rel='wlwmanifest', type='application/wlwmanifest+xml', href='http://planesetb.com/wp-includes/wlwmanifest.xml')
    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-125513211-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-125513211-1');
    // Global site tag (gtag.js) - Google Ads: 799925434
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=AW-799925434')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'AW-799925434');
  body
    header
      // contenido header
      // Contenido de página de inicio
      style.
        input::-webkit-inner-spin-button{
        display:none;
        }
        .errorbox{
        padding: 20px 0 0;
        }
        .errorbox p{
        display:none;
        color: #b70000;
        text-align: center;
        font-weight: 600;
        padding: 2px 0;
        }
        .modal--usodatos {
        width: 80%;
        height: fit-content;
        position: fixed;
        z-index: 5100;
        background-color: #09487d;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        color: #ffffff;
        }
        .modal--usodatos .boxblank{
        padding:12px;
        background:#fff;
        color:#000;
        }
        .modal--usodatos .boxblank p{
        color: #021d33;
        font-size: 18px;
        }
        .modal__backx {
        display: none;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: fixed;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.92);
        z-index: 5000;
        }
      article.container-fluid
        .orangeline
          .box
            p.banner__footer-info
              | Línea exclusiva de ventas
            a.banner__footer-numb(href='tel:3009121295')
              | 3009121295 /
            a.banner__footer-numb(href='tel:0314434040')
              |  4434040
        article#inicio.banner
          img.banner__imagen(src=('images/fondo.jpg'), alt='ETB')
          .banner__content.row.align-items-center
            .sideleft
              .row.justify-content-center.ta-c
                .col-lg-6.col-md-6.no_padding
                  .row.justify-content-center.ta-c.ondesktop
                    .col-12.no_padding
                      img(style='width:100%;', src='images/man-navidad.png', alt='ETB')
                  .onmobile
                    img(src='images/pagaenero.png', alt='ETB')
                .col-lg-6.col-md-6.no_padding.marginlado
                  .row.justify-content-center.ta-c
                    .col-12.no_padding
                      img.ondesktop(style='width:100%;', src='images/promo-2.png', alt='ETB')
                      img.onmobile(style='width:100%;', src='images/promo-1.png', alt='ETB')
                      div(onclick="openModal('.modal--callToAction');")
                        img(src=('images/aPidelo-Aquí.jpg'), alt='ETB') 
                      div(style='color: #fff; padding-top: 20px; text-align: center;')
                        p(style='text-align: center;')
                          | Aplican términos y condiciones en 
                          span(style='text-decoration: underline;')
                            a(style='color: #fff;', href='https://etb.com/tyc.aspx', target='_blank', rel='noopener') etb.com
                          br
                          | Promoción válida del 1 al 30 de noviembre de 2018
            .sideright
              .toplogoetb
                img.ondesktop(src=('images/logoetblank.png'), alt='ETB')
              form#form-llamar.banner__form(,method='post', action='/gracias', enctype="application/x-www-form-urlencoded")
                .row
                  .col.no_padding
                    .boxTeLlamamos
                      .boxblank
                        .boxTeLlamamos__info
                          span Ingresa tu teléfono de contacto
                          p
                            | Nosotros te llamamos
                        .boxTeLlamamos__send
                          input#telefonoLlamar(type='number')
                        .boxTeLlamamos__terms
                          .radioBox.font--terminos
                            input#checkAceptollamadas(type='checkbox', name='aceptollamadas', value='aceptollamadas')
                            label(for='checkAceptollamadas')
                              u(onclick="openModalx('.modal--usodatos');") Acepto uso de Datos
                        button.btn.btn--orange.btn--square(type='submit', value='enviar')
                          | CONTÁCTAME
                        .errorbox(style='color:red;')
                          p.telefono Por favor escribe el número de contacto
                          p.terminos Por favor acepta los términos y condiciones
      style.
        .containerPlanes::before {
        background-color: #fff !important;
        }
        .font--terminos a {
        color:#00244a;
        }
      article#planes.containerPlanes(style='background:#fff !important;')
        .boxtelpopup(onclick="openModal('.modal--callToAction');")
          img(src=('images/aBoton-Te-llamamos.jpg'), alt='ETB')
        section.container
          .preInfoPlanes.row
            .col-md-12
              .preInfoPlanes__info(style='color: #00244a;')
                h2
                  span(style='color: #00244a;') DISFRUTA DE LOS PLANES DE ULTRAVELOCIDAD QUE TENEMOS
        section.container
          // ↓↓ Article planes ↓↓
          article.boxPlanes.row
            // ↓↓ NEW PLAN ↓↓
            section.col-sm-6.col-md-3
              .boxPlanes__plan(onclick="openModal('.modal--callToAction');")
                img(src=('images/aplan129-1.jpg'), alt='plan129')
            // ↑↑ END NEW PLAN ↑↑
            // ↓↓ NEW PLAN ↓↓
            section.col-sm-6.col-md-3
              .boxPlanes__plan(onclick="openModal('.modal--callToAction');")
                img(src=('images/aplan144-1.jpg'), alt='plan129')
            // ↑↑ END NEW PLAN ↑↑
            // ↓↓ NEW PLAN ↓↓
            section.col-sm-6.col-md-3
              .boxPlanes__plan(onclick="openModal('.modal--callToAction');")
                img(src=('images/aplan161-1.jpg'), alt='plan129')
            // ↑↑ END NEW PLAN ↑↑
            // ↓↓ NEW PLAN ↓↓
            section.col-sm-6.col-md-3
              .boxPlanes__plan(onclick="openModal('.modal--callToAction');")
                img(src=('images/aplan303-1.jpg'), alt='plan129')
            // ↑↑ END NEW PLAN ↑↑
            // ↑↑ END Article planes ↑↑
            .col-md-12
              .col-12.ta-c.mt20
                .font--terminos(style='color: #00244a;')
                  p
                    | Aplican términos y condiciones en 
                    span(style='text-decoration: underline;')
                      a(href='https://etb.com/tyc.aspx', target='_blank', rel='noopener') etb.com
                  div
                    div 
                    | Promoción válida del 1 al 30 de noviembre de 2018
      // Archivo de barra lateral por defecto
      #contactanos
      footer.mainFooter
        .container
          .row
            .col-md-6
              .mainFooter__info
                h2
                  | Déjanos tus datos
                p
                  | O también puedes llamarnos en Bogotá al:
                h3
                  a(href='tel:0314434040')
                    | 4434040
                h3
                  a(href='tel:3009121295')
                    | 3009121295
            .col-sm-6
              .mainFooter__form
                #wpcf7-f6-o1.wpcf7(role='form', lang='es-ES', dir='ltr')
                  .screen-reader-response
                  form#form_control.wpcf7-form.wpcf7-acceptance-as-validation(name='form_control', action='/?gclid=Cj0KCQjw08XeBRC0ARIsAP_gaQAij9TrQCQQArPjas3M3tQdAb7dd4fj8DYtkmxBZn-PfzRAbJwgnzcaAkPAEALw_wcB#wpcf7-f6-o1', method='post', novalidate='novalidate', enctype="application/x-www-form-urlencoded")
                    div(style='display: none;')
                      input(type='hidden', name='_wpcf7', value='6')
                      input(type='hidden', name='_wpcf7_version', value='5.0.4')
                      input(type='hidden', name='_wpcf7_locale', value='es_ES')
                      input(type='hidden', name='_wpcf7_unit_tag', value='wpcf7-f6-o1')
                      input(type='hidden', name='_wpcf7_container_post', value='0')
                    p
                      label
                        | NOMBRE*
                        br
                        span.wpcf7-form-control-wrap.your-name
                          input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false')
                    p
                      label
                        | TELÉFONO*
                        br
                        span.wpcf7-form-control-wrap.Telefono
                          input.wpcf7-form-control.wpcf7-number.wpcf7-validates-as-required.wpcf7-validates-as-number#Telefono(type='number', name='Telefono', value='', aria-required='true', aria-invalid='false', enctype="application/x-www-form-urlencoded")
                    p
                      label
                        | E-mail*
                        br
                        span.wpcf7-form-control-wrap.your-email
                          input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email(type='email', name='your-email', value='', size='40', aria-required='true', aria-invalid='false')
                    p
                      span.wpcf7-form-control-wrap.acceptance-419
                        span.wpcf7-form-control.wpcf7-acceptance
                          span.wpcf7-list-item
                            label
                              input(type='checkbox', name='acceptance-419', value='1', aria-invalid='false')
                              span.wpcf7-list-item-label
                                u(onclick="openModalx('.modal--usodatos');") Acepto uso de Datos
                    p
                      input.wpcf7-form-control.wpcf7-submit.btn.btn--square.btn--orange#form_control(name='form_control', method='post', type='submit', value='ENVIAR', enctype="application/x-www-form-urlencoded")
                    .wpcf7-response-output.wpcf7-display-none
        .container-fluid.mainFooter__end
          .row.align-items-center
            .col-md-6
            .col-md-6.ta-r
              a(href='http://www.etb.com.co', target='_blank')
                img(src=('images/logoetb.png'), alt='ETB')
          span(style='color: #fbfbfb; display: block; text-align: center; position: absolute; bottom: 2px; left: 0; width: 100%;')
            | SILEC COMUNICACIONES S.A.S distribuidor autorizado
      .modal.modal--callToAction
        .modal__close(onclick='closeModal();')
        .modal__content.modaletb
          .row
            .col.ta-c
              img(src=('images/pagaenero.png'), alt='ETB')
          // ↓↓ ROW FORM ↓↓
          .row
            .col.no_padding
              .boxTeLlamamos_modal
                .boxblanko
                  .boxTeLlamamos_modal__info
                    span Ingresa tu teléfono de contacto
                    p
                      | Nosotros te llamamos
                  .boxTeLlamamos__send
                    input#telefonoLlamar(type='number')
                  .boxTeLlamamos__terms
                    .radioBox.font--terminos
                      input#checkAceptollamadas(type='checkbox', name='aceptollamadas', value='aceptollamadas')
                      label(for='checkAceptollamadas')
                        u(onclick="openModalx('.modal--usodatos');") Acepto uso de Datos
                  button#form-llamarlo.btn.btn--orange.btn--square(value='enviar')
                    | CONTÁCTAME
                  .errorbox(style='color:red;')
                    p.telefono Por favor escribe el número de contacto
                    p.terminos Por favor acepta los términos y condiciones
          // ↓↓ ROW FORM ↓↓
          .row
            .banner__footer(style='display:block;')
              p.banner__footer-info
                | LLÁMANOS en Bogotá al:
              a.banner__footer-numb(href='tel:3009121295')
                | 3009121295 /
              a.banner__footer-numb(href='tel:0314434040')
                | 4434040
      .modal.modal--usodatos
        .modal__close(onclick='closeModalx();')
        .modal__content.modaletb
          .row
            .col.ta-c
              img(src=('images/pagaenero.png'), alt='ETB')
          // ↓↓ ROW FORM ↓↓
          .row
            .col.no_padding
              .boxTeLlamamos_modal
                .boxblanko
                  .boxTeLlamamos_modal__info.boxblank
                    p
                    p
                      | Doy mi consentimiento previo, expreso e informado a SILEC COMUNICACIONES S.A.S para la recolección, almacenamiento y uso de mis datos de información personal, para ser contactados y ofrecer servicios y ofertas de ETB por tanto la recolección, tratamiento, administración y protección de dichos datos se rige por Ley Estatutaria 1581 del 2012 mediante la cual se dictan las disposiciones generales para la protección de datos personales, y sus Decretos Reglamentarios 1377 de 2013, y Decreto 886 de 2014. Como titular de información tiene derecho a conocer, actualizar, rectificar sus datos personales, solicitar prueba de la autorización otorgada para su tratamiento, ser informado sobre el uso que se ha dado a los mismos, presentar quejas ante la SIC por infracción a la ley, revocar la autorización y/o solicitar la supresión de sus datos en los casos que sea procedente y acceder en forma gratuita a los mismos. Tendrá carácter facultativo las respuestas que versen sobre datos sensibles o sobre datos de las niñas y niños y adolescentes.
                    p
                      | Manifiesto que la presente autorización me fue solicitada y puesta de presente antes de entregar mis datos.
                    p
      .modal__backx
      .modal__back(onclick='closeModal();')
      script(type='text/javascript').
        /* <![CDATA[ */
        var wpcf7 = {"apiSettings":{"root":"http:\\/\/planesetb.com\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"},"recaptcha":{"messages":{"empty":"Por favor, prueba que no eres un robot."}}};
        /* ]]> */
      script(type='text/javascript', src='http://planesetb.com/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=5.0.4')
      script(type='text/javascript', src='http://planesetb.com/wp-includes/js/wp-embed.min.js?ver=4.9.8')
      // scripts before end of body
